<p id="notice"><%= notice %></p>

<h1>Events</h1>
<%= render 'table', events: @events %>
<br>

<% if @my_events %>
<h1>My Events</h1>
<%= render 'table', events: @my_events %>
<br>
<%= link_to('New Event', new_event_path) if current_user %>
<% end %>

