<%# navigation styled for Bootstrap 3.0 %>
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <%= render 'layouts/navigation_links' %>
  </ul>
</nav>


<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
  <!--<div class="container">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<%= link_to 'Home', root_path, class: 'navbar-brand' %>-->
    <!--</div>-->
    <!--<div class="collapse navbar-collapse">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<%= render 'layouts/navigation_links' %>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
